<div class="card">
  <div class="row">
    <div class="col-md-3" routerLinkActive="bg-tone">
      <img src="{{ recipe.imagepath }}" alt="{{ recipe.name}}" class="img-responsive" style="max-height: 60px;"></div>
    <div class="col-md-9 px-3">
      <a [routerLink]="[index]" style="cursor: pointer;text-decoration: none" routerLinkActive="bg-tone" class="reclinkclr">
        <div class="card-block px-3">
          <h4 class="card-title">
            {{recipe.name }}</h4>
          <p class="card-text">{{recipe.description }}</p>
        </div>
      </a>
    </div>
  </div>
